bin
target
.cache
include/SM.def
include/SM-parenthesize.str
include/SM-Permissive.def
include/SM.generated.pp.af
include/SM.packed.esv
include/SM.pp.af
include/SM.rtg
include/SM.str
include/SM.tbl
include/sm.rtree
include/sm.ctree
include/sm.ctree.dep
include/sm.jar
include/sm-java.jar
editor/java/trans
editor/*.generated.*
syntax/SM*.generated.esv
syntax/SM.generated.pp
syntax/*.sdf
trans/*.pp.generated.str
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
/src-gen
